// Specific CSS for your home-page
body{
  color: #3C3C3C;

h3{font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  padding-bottom: 16px;
  letter-spacing: 5px;
  margin-bottom: 24px;
}

.banner-bottom-text{
  text-align: center;
  margin: 80px 0;

  h5{
    font-family: 'Oswald', sans-serif;
    font-weight: regular;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 3px;
  }

  p {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 32px;
  }
}

.section-bottom-text{
  text-align: center;
  margin: 80px 0;

  p {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 32px;
  }
}

.section-newsletter{
  background-color: #FFCB15;
  padding: 80px;
  text-align: center;

  h5{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
  }
}

.footer{
  background-color: #3C3C3C;
  color: white;

  i{
    font-size: 50px;
  }
}

.footer-list{
  padding: 80px 0px;
  text-transform: uppercase;
  font-size: 12px;

  li{
    padding: 6px;
  }

  h5{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 3px;
  }
}

.btn{
    background-color: #9AD0C0;
    border: none;
    padding: 8px 62px;
    font-size: 16px;
}

  h5{
    font-family: 'Oswald', sans-serif;
    font-weight: regular;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
  }

#top, #bottom, #left, #right {
  background: #FFCCCC;
  position: fixed;
  z-index: 200;
  }

  #left, #right {
    top: 0; bottom: 0;
    width: 20px;
    }

    #left { left: 0;
    }
    #right { right: 0;
    }

    #top, #bottom
    {
    left: 0; right: 0;
    height: 20px;
    }

    #top {
      top: 0;
    }

    #bottom { bottom: 0;
    }

}


