<div class="top-navbar hidden animate-nav d-flex justify-content-between align-items-center fixed-top">

  <div class="top-navbar-item">

    <%= link_to cocktails_path, class: "nav-logo"  do %>
      <i class="fas fa-heart"></i>
    <% end %>

  </div>

  <div class="top-navbar-item">
      <form class="form-navbar">
        <input class="form-control" type="search" placeholder="Search cocktail">
      </form>
  </div>

</div>
