.top-navbar{
  color: #FFCCCC;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  padding: 8px 16px;
  top: 20px;
  left: 20px;
  right:20px;
  z-index: 100;
}

.hidden{
  visibility: hidden;
}

.nav-logo{
    color: #FFCCCC;
    font-size: 12px;
}
